/*@media (min-width: 1400px) {
    .container {
        width: 1360px;
    }
}*/

.lfo-2-padding {
    padding: 2em 0 !important; 
}

.lfo-nav {
    padding: 12px 0 !important; 
}

.lfo-0-margin {
    margin: 0 0 !important; 
}
.lfo-0-padding {
    padding: 0 0 !important; 
}

.exposant {
    position: relative;
    bottom: 1px;
    font-size: 1.2em;
    line-height: .8em;
    vertical-align:super;
    text-decoration:none;
}

@media screen and (max-width: 768px) {
    .lfo-nav {
        padding: 2px !important; 
    }

}

.covid  {
    text-align: center; margin-bottom: 10px; font-size: small;
}