$listen-blanc: #FFFFFF;
/*$listen-very-light-grey: #F0F4F6;
$listen-light-grey: #CFCFCF;
$listen-grey: #596069;
$listen-dark-grey: #34383D;*/

$listen-bordeaux: #760E22;
$listen-bordeaux-50: rgba(118, 6, 34, 0.6);
$listen-rouge: #C41F3A;
$listen-gris: #B3B3B3;
$listen-gris-light: rgb(232, 236, 241);

$listen-default-font-family: "Open Sans", Arial, sans-serif;

$theme-colors: (
primary: $listen-bordeaux,
secondary: $listen-rouge,
);

@import "./bootstrap-4.1.1/scss/bootstrap";

@media (max-width: 768px) {
    .listen-carousel {
        .carousel-item {
            min-height: 24rem !important;
        }    
    }
}
@media (max-width: 600px) {
    .listen-carousel {
        .carousel-item {
            min-height: 20rem !important;
        }    
    }
}

@media (max-width: 500px) {
    .listen-carousel {
        .carousel-item {
            min-height: 18rem !important;
        }    
    }
}
@media (max-width: 400px) {
    .listen-carousel {
        .carousel-item {
            min-height: 16rem !important;
        }    
    }
}


body {
    font: 120% $listen-default-font-family;

    h2 {
        color: $listen-rouge;
    }
    h3 {
        color: $listen-bordeaux;
    }
}

.listen-navbar{
    background-color: $listen-blanc;
    font: 100% $listen-default-font-family;
    .navbar-brand, .navbar-text {
        color: $listen-bordeaux;
    }
    .navbar-nav .nav-link {
        color: $listen-bordeaux;
    }
    .nav-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-right: 1rem;
    }
    .nav-item.active .nav-link, .nav-item:hover .nav-link {
        color: $listen-rouge;
    }
    .btn {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.listen-jumbotron {
    background-color: $listen-gris;
    padding: 2rem;

}

.listen-carousel {
    .carousel{ 
        /*margin-bottom: 4rem;*/
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        /*bottom: 3rem;*/
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel-item {
        /*height: screen.height / 3;*/
        min-height: 32rem;
        width: 100%;
        background-color: transparent;
    }
    .carousel-item > img {
        max-height: 100%;  
        max-width: 100%; 
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }

}

.listen-bien-header {
    padding-top: 2rem;
}

.listen-modal {
    color: $listen-bordeaux;
    .modal-body {
        background-color: $listen-gris-light;
    }
}

.listen-container {
    background-color: $listen-gris-light;
    padding: 3rem;
}